[submodule "ortp"]
	path = ortp
	url = git://git.linphone.org/ortp.git
[submodule "mediastreamer2"]
	path = mediastreamer2
	url = git://git.linphone.org/mediastreamer2.git
[submodule "bctoolbox"]
	path = bctoolbox
	url = https://github.com/BelledonneCommunications/bctoolbox.git
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
